.civicall--width-100-percent
  width: 100% !important

.civicall--width-150
  width: 150px !important

.civicall--max-width-600
  max-width: 600px

.civicall--hide
  display: none !important

.civicall__row
  display: flex
  gap: 10px
  justify-content: start
